body {
    margin: auto;
    width: 500px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}


#startGame, #restartGame {
    height: 50px;
    width: 250px;
    color: gray;
    background-color: black;
    border-radius: 32px;
    border-style: none;

    
}

.pickButtons {
    border-style: none;
    height: 96px;
    width: 96px;
    border-radius: 8px;
    color: black;
    font-weight: bolder;
}

#cpuChoose {
    border-style: none;
    height: 96px;
    width: 96px;
    border-radius: 8px;
    color: black;
    font-weight: bolder;
}



strong {
    color: gray
}

footer {
    margin-top: auto;
    margin-bottom: 100px;
    bottom: 25%;

}